name: Tests All

on:
  push: 
    branches-ignore: 
      -main
    paths-ignore: 
      - '**.md'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test